<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About || Bishop Thomas Aremu</title>
    <link href="../style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bg-black p-0 h-full">
        <header class="flex justify-between items-center px-4 md:px-[50px] border-orange-500 border-b-2 border-solid">
            <div>
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] lg:w-[150px] lg:h-[100px]">
            </div>
            <div class="block lg:hidden">
                <button id="menu-toggle" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav id="menu" class="hidden lg:block">
                <ul class="flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-[50px]">
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="home.html">HOME</a>
                    </li>
                    <li><a class="text-orange-500 font-bold hover:underline hover:text-orange-500"
                            href="about.html">ABOUT</a></li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                            href="liberality.html">LIBERALITY</a>
                    </li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                            href="testimony.html">TESTIMONIES</a></li>
                </ul>
            </nav>
            <button class="hidden lg:block bg-orange-500 p-3 rounded-3xl hover:bg-white">
                <a class="font-bold capitalize text-black" href="#">Book an
                    appointment</a>
            </button>

        </header>
        <!-- Mobile Sliding Menu -->
        <div id="mobile-menu"
            class="fixed top-0 right-0 w-[75%] h-full bg-black text-white transform translate-x-full transition-transform duration-300">
            <div class="flex justify-between items-center p-4">
                <button id="menu-close" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <ul class="flex flex-col items-center gap-6 mt-10">
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="home.html">HOME</a></li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="about.html">ABOUT</a>
                </li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                        href="liberality.html">LIBERALITY</a></li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                        href="testimony.html">TESTIMONIES</a>
                </li>
            </ul>
            <div class="mt-10 flex justify-center">
                <button class="bg-orange-500 p-3 rounded-3xl hover:bg-white">
                    <a class="font-bold capitalize text-black" href="#">Book an
                        appointment</a>
                </button>
            </div>
        </div>
        <div
            class="flex justify-between items-center flex-col md:flex-row px-[50px] md:px-[100px] py-[50px] border-orange-500 border-b-8 border-solid gap-[20px]">
            <div>
                <h2 class="text-[25px] lg:text-[40px] text-white font-bold text-center">MEET <br />THOMAS AREMU</h2>
                <p
                    class="text-white font-satisfy text-center text-[12px] lg:text-[16px] leading-[20px] lg:leading-[45px]">
                    And I will give you pastors according to mine heart,<br />
                    which shall feed you with knowledge and<br />
                    understanding.<br />Jer. 3 : 15</p>
            </div>
            <img src="../images/bta1.jpg" alt="" class="w-[300px] h-[300px] md:w-[350px] md:h-[350px] rounded-2xl">
        </div>
        <div class="lg:px-[100px] px-[40px] pt-[50px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">Born on March 18, 1957, in Oyo Town, Oyo State,
                Bishop Thomas Olayiwola Aremu grew up with values that would define his extraordinary journey, hard
                work, faith, and an unwavering commitment to his divine calling. As a young man, Thomas pursued a career
                in accounting, demonstrating remarkable skill and diligence. By 1984, at just 27, he became a Chartered
                Accountant. A significant achievement. But beyond professional success, what set him apart was his
                unshakable faith. He believed God was guiding his steps, and this trust propelled his rapid rise in the
                civil service. Within just 18 months, he advanced from Grade Level-8 to Grade Level-12, gaining
                 recognition for both his competence and integrity. In 1986, a life-changing moment occurred when
                 Bishop David Oyedepo visited Thomas’s home in Sokoto. At the time, Thomas and his wife were believing
                 God for a child. During the visit, Bishop Oyedepo prophetically declared that their waiting was over.
                 That very month, his wife conceived their first daughter, Faith, an undeniable testament to God’s power.
                 Three years later, in 1989, another prophetic word came during a pastors’ gathering. Bishop Oyedepo
                 lifted Thomas’s wife’s hands and declared that she would conceive twins. True to the declaration, the
                 couple welcomed a boy and a girl that same year.</p>
        </div>
        <div class="lg:px-[100px] px-[40px] flex justify-between items-center flex-col lg:flex-row gap-[40px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">Today, Bishop Thomas Aremu is blessed with
                four children, in accordance with Psalm 112, and they are excelling in their respective fields: Dr.
                Faith – A clinical psychologist, Dr. Love – A medical doctor and physiotherapist, Engineer Thomas –
                A mechanical engineer working in the mining sector in Australia, and Emmanuel – A realtor.</p>
            <img src="../images/bta2.jpg" alt="" class="w-[350px] h-[350px] py-[20px] md:py-0">
        </div>
        <div class="lg:px-[100px] px-[40px] flex justify-between items-center flex-col lg:flex-row gap-[40px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">Thomas Aremu
                didn’t just experience divine interventions in his family life; he also saw God’s hand in his material
                blessings. While working on the Dominion Cathedral in Kaduna in 1989, Bishop Oyedepo declared that all
                involved in the project would build their own houses. By 1990, Thomas had completed his first home,
                another proof of God’s provision. Then came the pivotal moment of surrender. In 1994, he answered the
                call to full-time ministry. That May, Bishop Oyedepo confirmed God’s instruction to plant a new church
                in Ibadan. On June 5, 1994, with just 23 people in attendance,</p>
            <img src="../images/bta2.jpg" alt="" class="w-[350px] h-[350px] py-[20px] md:py-0">
        </div>
        <div class="md:px-[100px] px-[40px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">the Ibadan Church was born. What followed
                was nothing short of a revival. By 1998, membership had surged past 10,000, and the impact extended
                beyond Ibadan into neighboring states. Thomas Aremu’s ministry journey took him to
                several cities, each time leaving behind a trail of unprecedented growth: Ilorin (1998–2004): Membership
                grew from 4,000 to 17,000. Kaduna (2004–2007): The congregation expanded from 20,000 to 27,000. In 2008,
                he embraced an international mandate, serving as Regional Overseer for South Africa and ten other
                countries. Under his leadership in Johannesburg, the church doubled in size within a year, and 12 new
                churches were planted across South Africa. His impact extended even further when he was appointed Vice President, Africa, and later Vice President of Foreign Missions,</p>
        </div>
        <div class="md:px-[100px] px-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px]">
            <img src="../images/bta4.jpg" alt="" class="w-[350px] h-[400px] py-[20px] md:py-5">
            <p class="text-white text-[18px] md:text-[24px] text-justify">overseeing global church expansion. Bishop Thomas Aremu’s global assignment continued as he was appointed Vice President in charge of the Mission Inspectorate. In this role, he was tasked with overseeing mission inspections across all nations where the church is represented. His responsibilities included assessing global church operations and reporting key findings, highlighting areas that required attention and corrective measures directly to the President and Apostle over the Commission. The pinnacle of</p>
        </div>
        <div class="md:px-[100px] px-[40px] flex justify-between items-center flex-col md:flex-row gap-[40px] border-orange-500 border-b-8 border-solid pb-[40px]">
            <img src="../images/bta3.jpg" alt="" class="w-[350px] h-[350px] py-[20px] md:py-0">
            <p class="text-white text-[18px] md:text-[24px] text-justify">his global leadership came when he was appointed as a member of the Global Board of Trustees, a role that placed him at the heart of the Commission’s strategic decision-making and governance. From his humble beginnings in Oyo Town to his global influence as a spiritual leader, Bishop Thomas Olayiwola Aremu’s life is a testament to grace, obedience, and unwavering faith in God’s call. His journey is not just a story of personal success but a blueprint of divine purpose. A life dedicated to transforming lives, building the kingdom, and fulfilling destiny.
                </p>
        </div>
        <div
            class="flex justify-between flex-col md:flex-row items-start gap-[10px] md:gap-[80px] px-[40px] md:px-[100px] py-[50px]">
            <div class="md:w-[200px] w-[300px]">
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] md:w-[150px] md:h-[100px]">
                <p class="text-white">Bishop Thomas Aremu is an anointed man of God sent to bring God’s word to our
                    generation.</p>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Quick Links</h2>
                <a class="text-white no-underline hover:underline mt-[20px]" href="index.html">Home</a>
                <a class="text-white no-underline hover:underline" href="about.html">About</a>
                <a class="text-white no-underline hover:underline" href="liberality.html">Liberality</a>
                <a class="text-white no-underline hover:underline" href="testimony.html">Testimonies</a>
                <a class="text-white no-underline hover:underline" href="gallery.html">Gallery</a>
                <a class="text-white no-underline hover:underline" href="booking.html">Bookings</a>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Reach Us</h2>
                <p class="text-white mt-[20px]">Email: bishopthomasaremu@gmail.com</p>
                <p class="text-white">Phone: +234 (812) 234 5432</p>
            </div>
        </div>
        <div class="flex justify-center items-center text-orange-500 font-satisfy">All rights reserved ‘Thomas Aremu’ @
            2024</div>
    </div>


    <script>
        // Mobile menu elements
        const menuToggle = document.getElementById('menu-toggle');
        const menuClose = document.getElementById('menu-close');
        const mobileMenu = document.getElementById('mobile-menu');

        // Open mobile menu
        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.remove('translate-x-full');
        });

        // Close mobile menu
        menuClose.addEventListener('click', () => {
            mobileMenu.classList.add('translate-x-full');
        });
    </script>
</body>

</html>