<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About || Bishop Thomas Aremu</title>
    <link href="../style.css" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css"
      >
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-black p-0 h-full">
        <header class="flex justify-between items-center px-4 md:px-[50px] border-orange-500 border-b-2 border-solid">
            <div>
                <img src="../../IMG_9091-removebg-preview.png" alt="" class="w-[100px] h-[80px] lg:w-[150px] lg:h-[100px]">
            </div>
            <div class="block lg:hidden">
                <button id="menu-toggle" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav id="menu" class="hidden lg:block">
                <ul class="flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-[50px]">
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">HOME</a></li>
                    <li><a class="text-orange-500 font-bold hover:underline" href="#">ABOUT</a></li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">LIBERALITY</a></li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">CONTACT</a></li>
                </ul>
            </nav>
            <button class="hidden lg:block bg-orange-500 p-3 rounded-3xl">
                <a class="font-bold capitalize text-white hover:underline hover:text-black" href="#">Book an appointment</a>
            </button>
        
        </header>
            <!-- Mobile Sliding Menu -->
            <div id="mobile-menu" class="fixed top-0 right-0 w-[75%] h-full bg-black text-white transform translate-x-full transition-transform duration-300">
                <div class="flex justify-between items-center p-4">
                    <button id="menu-close" class="text-white focus:outline-none text-[30px]">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <ul class="flex flex-col items-center gap-6 mt-10">
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">HOME</a></li>
                    <li><a class="text-orange-500 font-bold hover:underline" href="#">ABOUT</a></li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">LIBERALITY</a></li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">CONTACT</a></li>
                </ul>
                <div class="mt-10 flex justify-center">
                    <button class="bg-orange-500 p-3 rounded-3xl">
                        <a class="font-bold capitalize text-white hover:underline hover:text-black" href="#">Book an appointment</a>
                    </button>
                </div>
            </div>
        <div class="flex justify-between items-center flex-col md:flex-row px-[50px] md:px-[100px] py-[50px] border-orange-500 border-b-8 border-solid gap-[20px]">
            <div>
                <h2 class="text-[25px] lg:text-[40px] text-white font-bold text-center">MEET <br />THOMAS AREMU</h2>
                <p class="text-white font-satisfy text-center text-[12px] lg:text-[16px] leading-[20px] lg:leading-[45px]">And I will give you pastors according to mine heart,<br />
                    which shall feed you with knowledge and<br />
                    understanding.<br />Jer. 3 : 15</p>
            </div>
            <img src="../images/bta1.jpg" alt="" class="w-[350px] h-[350px] rounded-2xl">
        </div>
        <div class="lg:px-[100px] px-[40px] pt-[50px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">Born on March 18, 1957, in Oyo Town, Oyo State, Thomas Olayiwola Aremu grew up with values that would shape his extraordinary journey, hard work, faith, and an unwavering commitment to his calling. As a young man, Thomas pursued a career in accounting. By 1984, at just 27 years old, he achieved the milestone of becoming a Chartered Accountant. It was a remarkable achievement, but what made it truly special was his unshakable belief in God. He trusted that God’s hand was guiding him, and this faith propelled his career forward, with promotions coming swiftly. Within 18 months, he rose from Grade Level-8 to Grade Level-12, earning respect</p>
        </div>
        <div class="lg:px-[100px] px-[40px] flex justify-between items-center flex-col lg:flex-row gap-[40px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">not just for his skill but also for his integrity. In 1986, a life-changing moment came when Bishop David Oyedepo visited his home in Sokoto. At the time, Thomas and his wife were trusting God for a child. During the visit, Bishop Oyedepo declared that their waiting was over. That very month, his wife conceived their first daughter, Faith. This miraculous moment not only ended their waiting but also set the tone for a life filled with divine encounters. By 1989, God wasn’t done yet. During a gathering of pastors and their wives, Bishop Oyedepo lifted Thomas’s wife’s hands</p>
            <img src="../images/bta2.jpg" alt="" class="w-[350px] h-[350px]">
        </div>
        <div class="md:px-[100px] px-[40px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">and declared that she would conceive twins. True to the prophetic word, the couple welcomed a boy and a girl that same year. Today, their three children have grown to be successful professionals, a reflection of the power of God’s word. It wasn’t just personal blessings that marked Thomas Aremu’s life; he also experienced God’s provision in his material life. While working on the Dominion Cathedral in Kaduna in 1989, Bishop Oyedepo declared that all connected to the project would build their own houses. By 1990, Thomas completed his first house, a testament to both his hard work and God’s faithfulness. In 1994, Thomas made the</p>
        </div>
        <div class="md:px-[100px] px-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px]">
            <img src="../images/bta4.jpg" alt="" class="w-[350px] h-[350px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">life-altering decision to step into full-time ministry. That May, Bishop Oyedepo confirmed that God had given the green light for a new church plant in Ibadan. By June 5, 1994, with only 23 people in attendance, the Ibadan Church began. Over the next four years, the church grew in leaps and bounds, with membership surpassing 10,000 by 1998. The growth extended to neighboring states, fulfilling the prophetic word spoken over the church. As the Ibadan church flourished, the ministry faced a new challenge: the Iyana Ipaja location</p>
        </div>
        <div class="md:px-[100px] px-[40px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">had become too small for the ever-growing congregation. In 1998, God led the ministry to its new home in Ota through a prophetic word: “This is the Place.” This move to Canaanland would mark the beginning of a global movement. Thomas’s ministry journey saw him serve in several cities, each time leaving behind a legacy of growth and impact: <br>- In Ilorin (1998–2004), membership grew from 4,000 to 17,000. <br>- In Kaduna (2004–2007), the church expanded from 20,000 to 27,000.</p>
        </div>
        <div class="md:px-[100px] px-[40px] flex justify-between items-center flex-col md:flex-row gap-[40px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">Inflex-col md:flex-row 2008, Thomas took on an international assignment, serving as Regional Overseer for South Africa and ten other countries. During his time in Johannesburg, the church’s membership doubled within a year, and 12 new churches were planted in major cities across South Africa. This role later expanded, and he was appointed Vice President, Africa, before eventually taking on global responsibilities as Vice President of Foreign Missions. Bishop Aremu has also been a key player in the ministry’s ambitious church planting campaigns. In 2019, the ministry planted 5,000 churches in Nigeria within a year.</p>
            <img src="../images/bta3.jpg" alt="" class="w-[450px] h-[350px]">
        </div>
        <div class="md:px-[100px] px-[40px] border-orange-500 border-b-8 border-solid pb-[50px]">
            <p class="text-white text-[18px] md:text-[24px] text-justify">The following year, despite the challenges of the COVID- 19 pandemic, another 10,000 churches were established across Nigeria, a testament to unwavering faith and dedication. Through it all, Bishop Thomas Olayiwola Aremu has lived a life defined by faith and obedience. From his early days in Oyo Town to becoming a global spiritual leader, his story is one of grace, impact, and steadfast devotion to God’s call.</p>
        </div>
        <div class="flex justify-between flex-col md:flex-row items-start gap-[10px] md:gap-[80px] px-[40px] md:px-[100px] py-[50px]">
            <div class="md:w-[200px] w-[300px]">
                <img src="../../IMG_9091-removebg-preview.png" alt="" class="w-[100px] h-[80px] md:w-[150px] md:h-[100px]">
                <p class="text-white">Bishop Thomas Aremu is an anointed man of God sent to bring God’s word to our generation.</p>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Quick Links</h2>
                <a class="text-white no-underline hover:underline mt-[20px]" href="#">Home</a>
                <a class="text-white no-underline hover:underline" href="#">About</a>
                <a class="text-white no-underline hover:underline" href="#">Testimonies</a>
                <a class="text-white no-underline hover:underline" href="#">Gallery</a>
                <a class="text-white no-underline hover:underline" href="#">Bookings</a>
                <a class="text-white no-underline hover:underline" href="#">Upcoming Events</a>
                <a class="text-white no-underline hover:underline" href="#">Mummy Aremu</a>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Reach Us</h2>
                <p class="text-white mt-[20px]">Email: bishopthomasaremu@gmail.com</p>
                <p class="text-white" >Phone: +234 (812) 234 5432</p>
            </div>
        </div>
        <div class="flex justify-center items-center text-orange-500 font-satisfy">All rights reserved ‘Thomas Aremu’ @ 2024</div>
    </div>


    <script>
        // Mobile menu elements
        const menuToggle = document.getElementById('menu-toggle');
        const menuClose = document.getElementById('menu-close');
        const mobileMenu = document.getElementById('mobile-menu');

        // Open mobile menu
        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.remove('translate-x-full');
        });

        // Close mobile menu
        menuClose.addEventListener('click', () => {
            mobileMenu.classList.add('translate-x-full');
        });
    </script>
</body>
</html>