<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings || Bishop Thomas Aremu</title>
    <link href="../style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bg-black p-0 h-full">
        <header class="flex justify-between items-center px-4 md:px-[50px] border-orange-500 border-b-2 border-solid">
            <div>
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] lg:w-[150px] lg:h-[100px]">
            </div>
            <div class="block lg:hidden">
                <button id="menu-toggle" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav id="menu" class="hidden lg:block">
                <ul class="flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-[50px]">
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">HOME</a></li>
                    <li><a class="text-orange-500 font-bold hover:underline" href="#">ABOUT</a></li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">LIBERALITY</a>
                    </li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">CONTACT</a></li>
                </ul>
            </nav>
            <button class="hidden lg:block bg-orange-500 p-3 rounded-3xl">
                <a class="font-bold capitalize text-white hover:underline hover:text-black" href="#">Book an
                    appointment</a>
            </button>

        </header>
        <!-- Mobile Sliding Menu -->
        <div id="mobile-menu"
            class="fixed top-0 right-0 w-[75%] h-full bg-black text-white transform translate-x-full transition-transform duration-300">
            <div class="flex justify-between items-center p-4">
                <button id="menu-close" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <ul class="flex flex-col items-center gap-6 mt-10">
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">HOME</a></li>
                <li><a class="text-orange-500 font-bold hover:underline" href="#">ABOUT</a></li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">LIBERALITY</a></li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="#">CONTACT</a></li>
            </ul>
            <div class="mt-10 flex justify-center">
                <button class="bg-orange-500 p-3 rounded-3xl">
                    <a class="font-bold capitalize text-white hover:underline hover:text-black" href="#">Book an
                        appointment</a>
                </button>
            </div>
        </div>
        <div
            class="flex justify-between items-center flex-col md:flex-row px-[50px] lg:px-[150px] py-[50px] border-orange-500 border-b-8 border-solid gap-[20px] lg:gap-0">
            <div>
                <h2 class="text-[20px] lg:text-[40px] text-white font-bold text-center">BOOKINGS <br />AND ENQUIRIES
                </h2>
                <p
                    class="text-white font-satisfy text-center text-[12px] lg:text-[16px] leading-[20px] lg:leading-[45px]">
                    And I will give you pastors according to mine heart,<br />
                    which shall feed you with knowledge and<br />
                    understanding.<br />Jer. 3 : 15</p>
            </div>
            <img src="../images/bta1.jpg" alt="" class="w-[350px] h-[350px] rounded-2xl">
        </div>
        <div class="lg:px-[100px] px-[40px] py-[50px] border-orange-500 border-b-8 border-solid">
            <h1 class="text-orange-500 text-[25px] font-bold">AREAS OF MINISTRY</h1>
            <p class="text-white w-[300px] md:w-full">God has sent his servant to minister in these area:</p>
            <ul class="pl-[50px] list-disc text-white">
                <li>Church growth</li>
                <li>Church adminstration</li>
                <li>Church Finance</li>
                <li>Church Welfare</li>
                <li>Minister’s conference</li>
                <li>Personal counselling and prayers</li>
                <li>Corporate counselling and prayers</li>
                <li>Home cell fellowship</li>
                <li>Dedication</li>
                <li>Anniversary</li>
            </ul>
        </div>
        <div class="flex justify-between items-center flex-col md:flex-row gap-20 lg:px-[100px] px-[40px] pl-24 md:pl-0 py-[50px] border-orange-500 border-b-8 border-solid">
            <div class="w-[350px] md:w-full">
                <h2 class="text-orange-500 font-bold text-[25px] mb-[30px]">Book an appointment with the Bishop</h2>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Name:</p>
                    <input type="text" placeholder="Your Name" class="border-none outline-none w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Email Address:</p>
                    <input type="text" placeholder="Your Email Address" class="border-none outline-none  w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Phone Number:</p>
                    <input type="text" placeholder="Your Phone Number" class="border-none outline-none  w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Subject:</p>
                    <input type="text" placeholder="Your Message Subject" class="border-none outline-none  w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Message:</p>
                    <input type="text" placeholder="Your Message" class="border-none outline-none  w-[300px] md:w-[500px] h-[100px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <button type="submit" class="w-[100px] h-[40px] bg-orange-500 border-none outline-none hover:bg-white rounded-xl text-white font-bold hover:text-black">Submit</button>
            </div>
            <div class="w-[350px] md:w-full">
                <h2 class="text-orange-500 font-bold text-[25px] mb-[30px]">Invite for a program</h2>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Name:</p>
                    <input type="text" placeholder="Your Name" class="border-none outline-none  w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Email Address:</p>
                    <input type="text" placeholder="Your Email Address" class="border-none outline-none  w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Phone Number:</p>
                    <input type="text" placeholder="Your Phone Number" class="border-none outline-none  w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Subject:</p>
                    <input type="text" placeholder="Your Message Subject" class="border-none outline-none  w-[300px] md:w-[500px] h-[40px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <div class="flex justify-start items-start flex-col">
                    <p class="text-orange-500">Message:</p>
                    <input type="text" placeholder="Your Message" class="border-none outline-none  w-[300px] md:w-[500px] h-[100px] rounded-lg pl-[20px] placeholder:font-satisfy my-[10px]">
                </div>
                <button type="submit" class="w-[100px] h-[40px] bg-orange-500 border-none outline-none hover:bg-white rounded-xl text-white font-bold hover:text-black">Submit</button>
            </div>
        </div>
        <div
            class="flex justify-between flex-col md:flex-row items-start gap-[10px] md:gap-[80px] px-[40px] md:px-[100px] py-[50px]">
            <div class="md:w-[200px] w-[300px]">
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] md:w-[150px] md:h-[100px]">
                <p class="text-white">Bishop Thomas Aremu is an anointed man of God sent to bring God’s word to our
                    generation.</p>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Quick Links</h2>
                <a class="text-white no-underline hover:underline mt-[20px]" href="#">Home</a>
                <a class="text-white no-underline hover:underline" href="#">About</a>
                <a class="text-white no-underline hover:underline" href="#">Testimonies</a>
                <a class="text-white no-underline hover:underline" href="#">Gallery</a>
                <a class="text-white no-underline hover:underline" href="#">Bookings</a>
                <a class="text-white no-underline hover:underline" href="#">Upcoming Events</a>
                <a class="text-white no-underline hover:underline" href="#">Mummy Aremu</a>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Reach Us</h2>
                <p class="text-white mt-[20px]">Email: bishopthomasaremu@gmail.com</p>
                <p class="text-white">Phone: +234 (812) 234 5432</p>
            </div>
        </div>
        <div class="flex justify-center items-center text-orange-500 font-satisfy">All rights reserved ‘Thomas Aremu’ @
            2024</div>
    </div>


    <script>
        // Mobile menu elements
        const menuToggle = document.getElementById('menu-toggle');
        const menuClose = document.getElementById('menu-close');
        const mobileMenu = document.getElementById('mobile-menu');

        // Open mobile menu
        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.remove('translate-x-full');
        });

        // Close mobile menu
        menuClose.addEventListener('click', () => {
            mobileMenu.classList.add('translate-x-full');
        });
    </script>
</body>

</html>