<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home || Bishop Thomas Aremu</title>
    <link href="../style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bg-black p-0 h-full">
        <header class="flex justify-between items-center px-4 md:px-[50px] border-orange-500 border-b-2 border-solid">
            <div>
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] lg:w-[150px] lg:h-[100px]">
            </div>
            <div class="block lg:hidden">
                <button id="menu-toggle" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav id="menu" class="hidden lg:block">
                <ul class="flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-[50px]">
                    <li><a class="text-orange-500 font-bold hover:underline hover:text-orange-500"
                            href="index.html">HOME</a>
                    </li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                            href="about.html">ABOUT</a></li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                            href="liberality.html">LIBERALITY</a>
                    </li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                            href="testimony.html">TESTIMONIES</a></li>
                </ul>
            </nav>
            <button class="hidden lg:block bg-orange-500 p-3 rounded-3xl hover:bg-white">
                <a class="font-bold capitalize text-black" href="booking.html">Book an
                    appointment</a>
            </button>

        </header>
        <!-- Mobile Sliding Menu -->
        <div id="mobile-menu"
            class="fixed top-0 right-0 w-[75%] h-full bg-black text-white transform translate-x-full transition-transform duration-300">
            <div class="flex justify-between items-center p-4">
                <button id="menu-close" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <ul class="flex flex-col items-center gap-6 mt-10">
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="index.html">HOME</a>
                </li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="about.html">ABOUT</a>
                </li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                        href="liberality.html">LIBERALITY</a></li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                        href="testimony.html">TESTIMONIES</a>
                </li>
            </ul>
            <div class="mt-10 flex justify-center">
                <button class="bg-orange-500 p-3 rounded-3xl hover:bg-white">
                    <a class="font-bold capitalize text-black" href="booking.html">Book
                        an
                        appointment</a>
                </button>
            </div>
        </div>
        <div
            class="flex justify-between items-center flex-col md:flex-row px-[50px] lg:px-[150px] py-[50px] border-orange-500 border-b-8 border-solid gap-[20px] lg:gap-0">
            <div>
                <h2 class="text-[24px] lg:text-[40px] text-white font-bold text-center">INSPIRING FAITH<BR /> EMPOWERING
                    MINDS</h2>
                <p
                    class="text-white font-satisfy text-center text-[12px] lg:text-[16px] leading-[20px] lg:leading-[45px]">
                    And I will give you pastors according to mine heart,<br />
                    which shall feed you with knowledge and<br />
                    understanding.<br />Jer. 3 : 15</p>
            </div>
            <img src="../images/bta1.jpg" alt="" class="w-[300px] h-[300px] md:w-[350px] md:h-[350px] rounded-2xl">
        </div>
        <div
            class="lg:px-[100px] px-[40px] py-[40px] flex justify-between items-center flex-col lg:flex-row gap-[40px] border-orange-500 border-b-8 border-solid">
            <img src="../images/bta3.jpg" alt="" class="w-[300px] h-[300px] hidden md:block">
            <div class="flex justify-between items-center flex-col gap-5">
                <p class="text-white text-[18px] md:text-[22px] leading-8 text-left">Born on March 18, 1957, in Oyo
                    Town, Oyo State, Bishop Thomas Olayiwola Aremu grew up with values that would define his
                    extraordinary journey, hard work, faith, and an unwavering commitment to his divine calling. As a
                    young man, Thomas pursued a career in accounting, demonstrating remarkable skill and diligence. By
                    1984, at just 27, he became a Chartered Accountant. A significant achievement. But beyond
                    professional success, what set him apart was his unshakable faith.</p>
                <button class="bg-orange-500 hover:bg-white p-3 rounded-3xl">
                    <a class="font-bold capitalize text-black" href="booking.html">Read full biography</a>
                </button>
            </div>
        </div>
        <div
            class="lg:px-[100px] px-[40px] py-[40px] flex justify-center items-center flex-col border-orange-500 border-b-8 border-solid">
            <h2 class="bg-orange-500 p-3 rounded-3xl font-bold">COVENANT LIBERALITY</h2>
            <p class="font-bold text-white text-[16px] text-center md:text-[24px] py-4">EXTENDING LIBERALITY AND CHARITY
                TO EVERYONE IN NEED AS
                CHRIST COMMANDS</p>
            <div class="flex justify-between items-center gap-[60px] flex-col md:flex-row">
                <div class="flex justify-between items-center gap-[30px]">
                    <div class="flex justify-between items-center flex-col gap-3">
                        <img src="../images/user.avif" class="w-[150px] h-[150px] md:w-[200px] md:h-[200px]" alt="">
                        <P class="text-white text-[16px] text-center">ACADEMIC SPONSORSHIPS</P>
                    </div>
                    <div class="flex justify-between items-center flex-col gap-3">
                        <img src="../images/user.avif" class="w-[150px] h-[150px] md:w-[200px] md:h-[200px]" alt="">
                        <P class="text-white text-[16px] text-center">ACADEMIC SPONSORSHIPS</P>
                    </div>
                </div>
                <div class="flex justify-between items-center gap-[30px]">
                    <div class="flex justify-between items-center flex-col gap-3">
                        <img src="../images/user.avif" class="w-[150px] h-[150px] md:w-[200px] md:h-[200px]" alt="">
                        <P class="text-white text-[16px] text-center">ACADEMIC SPONSORSHIPS</P>
                    </div>
                    <div class="flex justify-between items-center flex-col gap-3">
                        <img src="../images/user.avif" class="w-[150px] h-[150px] md:w-[200px] md:h-[200px]" alt="">
                        <P class="text-white text-[16px] text-center">ACADEMIC SPONSORSHIPS</P>
                    </div>
                </div>
                <button class="bg-orange-500 hidden md:block hover:bg-white p-4 rounded-3xl"><i
                        class="fa-solid fa-arrow-right text-3xl"></i></button>
            </div>
        </div>
        <div
            class="lg:px-[100px] px-[40px] py-[40px] flex justify-center items-center flex-col border-orange-500 border-b-8 border-solid">
            <h2 class="bg-orange-500 p-3 rounded-3xl font-bold mb-7">MESSAGES</h2>
            <p class="font-bold text-white text-[16px] text-center md:text-[24px] py-4">EXTENDING LIBERALITY AND CHARITY
                TO EVERYONE IN NEED AS
                CHRIST COMMANDS</p>
            <div class="flex justify-between items-center gap-[60px] flex-col md:flex-row">
                <div class="flex justify-between items-center flex-col">
                    <img src="../images/bta4.jpg" class="rounded-3xl w-full" alt="">
                    <audio controls class="w-full m-3">
                        <source src="../audio/understanding the laws of success pt 1b.MP3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <p class="text-white text-[16px] text-center">Understanding The Laws <br>of Success 1</p>
                    <a href="../audio/understanding the laws of success pt 1b.MP3" download
                        class="bg-orange-500 hover:bg-white p-3 rounded-3xl font-bold">
                        DOWNLOAD NOW <i class="fa-solid fa-arrow-down-to-bracket"></i>
                    </a>
                </div>
                <div class="flex justify-between items-center flex-col">
                    <img src="../images/bta4.jpg" class="rounded-3xl w-full" alt="">
                    <audio controls class="w-full m-3">
                        <source src="../audio/understanding the laws of success pt.2.MP3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <p class="text-white text-[16px] text-center">Understanding The Laws <br>of Success 2</p>
                    <a href="../audio/understanding the laws of success pt.2.MP3" download
                        class="bg-orange-500 hover:bg-white p-3 rounded-3xl font-bold">
                        DOWNLOAD NOW <i class="fa-solid fa-arrow-down-to-bracket"></i>
                    </a>
                </div>
                <div class="flex justify-between items-center flex-col">
                    <img src="../images/bta4.jpg" class="rounded-3xl w-full" alt="">
                    <audio controls class="w-full m-3">
                        <source src="../audio/understanding the laws of success pt 1b.MP3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <p class="text-white text-[16px] text-center">Understanding The Laws <br>of Success 3</p>
                    <a href="../audio/understanding the laws of success pt 1b.MP3" download
                        class="bg-orange-500 hover:bg-white p-3 rounded-3xl font-bold">
                        DOWNLOAD NOW <i class="fa-solid fa-arrow-down-to-bracket"></i>
                    </a>
                </div>
                <button class="bg-orange-500 hidden md:block hover:bg-white p-4 rounded-3xl"><i
                        class="fa-solid fa-arrow-right text-3xl"></i></button>
            </div>
        </div>
        <div
            class="lg:px-[100px] px-[40px] py-[40px] show testimonials flex justify-center items-center flex-col border-orange-500 border-b-8 border-solid relative">
            <h2 class="bg-orange-500 p-3 rounded-3xl font-bold mb-7">TESTIMONIES</h2>
            <p class="font-bold text-white text-[16px] text-center md:text-[24px] py-4">EXTENDING LIBERALITY AND CHARITY
                TO EVERYONE IN NEED AS
                CHRIST COMMANDS</p>
            <div class="review review1 block md:w-[700px] w-[300px] md:text-[24px] text-[18px]">
                <p class="text-white text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad cumque
                    culpa assumenda dignissimos eum cupiditate fugit, repudiandae sequi, quia magni ratione illo
                    architecto quo repellendus minima a. Quia, sunt nulla!</p>
                <p class="text-white text-end pt-4 md:text-[24px] text-[18px]">~ Mrs Janet USA.</p>
            </div>
            <div class="review hidden md:w-[700px] w-[300px] md:text-[24px] text-[18px]">
                <p class="text-white text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad cumque
                    culpa assumenda dignissimos eum cupiditate fugit, repudiandae sequi, quia magni ratione illo
                    architecto quo repellendus minima a. Quia, sunt nulla!</p>
                <p class="text-white text-end pt-4 md:text-[24px] text-[18px]">~ Mrs Janet USA.</p>
            </div>
            <div class="review hidden md:w-[700px] w-[300px] md:text-[24px] text-[18px]">
                <p class="text-white text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad cumque
                    culpa assumenda dignissimos eum cupiditate fugit, repudiandae sequi, quia magni ratione illo
                    architecto quo repellendus minima a. Quia, sunt nulla!</p>
                <p class="text-white text-end pt-4 md:text-[24px] text-[18px]">~ Mrs Janet USA.</p>
            </div>
            <div class="review hidden md:w-[700px] w-[300px] md:text-[24px] text-[18px]">
                <p class="text-white text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad cubr
                    mque culpa assumenda dignissimos eum cupiditate fugit, repudiandae sequi, quia magni ratione illo
                    architecto quo repellendus minima a. Quia, sunt nulla!</p>
                <p class="text-white text-end pt-4 md:text-[24px] text-[18px]">~ Mrs Janet USA.</p>
            </div>
        </div>
        <div
            class="lg:px-[100px] px-[40px] py-[40px] show testimonials flex justify-center items-center flex-col border-orange-500 border-b-8 border-solid relative">
            <p class="font-bold text-white text-[16px] text-center md:text-[24px] py-4">EXTENDING LIBERALITY AND CHARITY
                TO EVERYONE IN NEED AS
                CHRIST COMMANDS</p>
            <div class="flex justify-center items-center gap-2 md:gap-10 flex-col md:flex-row">
                <textarea id="prayer_request" type="text" placeholder="Enter Your Prayer Request"
                    class="border-none outline-none w-[300px] md:w-[700px] h-[60px] rounded-lg p-2">
                </textarea>
                <button type="submit"
                    class="bg-orange-500 h-[60px] hover:bg-white p-3 rounded-lg font-bold">
                    SEND</i>
                </button>
            </div>
        </div>
        <div
            class="flex justify-between flex-col md:flex-row items-start gap-[10px] md:gap-[80px] px-[40px] md:px-[100px] py-[50px]">
            <div class="md:w-[200px] w-[300px]">
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] md:w-[150px] md:h-[100px]">
                <p class="text-white">Thomas Aremu is an anointed man of God sent to bring God’s word to our
                    generation.</p>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Quick Links</h2>
                <a class="text-white no-underline hover:underline mt-[20px]" href="index.html">Home</a>
                <a class="text-white no-underline hover:underline" href="about.html">About</a>
                <a class="text-white no-underline hover:underline" href="liberality.html">Liberality</a>
                <a class="text-white no-underline hover:underline" href="testimony.html">Testimonies</a>
                <a class="text-white no-underline hover:underline" href="gallery.html">Gallery</a>
                <a class="text-white no-underline hover:underline" href="booking.html">Bookings</a>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Reach Us</h2>
                <p class="text-white mt-[20px]">Email: bishopthomasaremu@gmail.com</p>
                <p class="text-white">Phone: +234 (812) 234 5432</p>
            </div>
        </div>
        <div class="flex justify-center items-center text-orange-500 font-satisfy m-10">All rights reserved ‘Thomas
            Aremu’ @
            2024</div>
    </div>


    <script>
        // Mobile menu elements
        const menuToggle = document.getElementById('menu-toggle');
        const menuClose = document.getElementById('menu-close');
        const mobileMenu = document.getElementById('mobile-menu');

        // Open mobile menu
        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.remove('translate-x-full');
        });

        // Close mobile menu
        menuClose.addEventListener('click', () => {
            mobileMenu.classList.add('translate-x-full');
        });
        //reviews animations
        let currentReview = 0;
        let reviews = document.querySelectorAll(".review");
        let prevBtn1 = document.getElementById("prevBtn1");
        let nextBtn1 = document.getElementById("nextBtn1");
        function nextReview() {
            let nextReview = (currentReview + 1) % reviews.length;
            reviews[currentReview].style.display = "none";
            reviews[nextReview].style.display = "block";
            currentReview = nextReview;

        }
        nextBtn1.addEventListener("click", nextReview)
        prevBtn1.addEventListener("click", function () {
            let prevReview = currentReview == 0 ? reviews.length - 1 : currentReview - 1;
            reviews[currentReview].style.display = "none";
            reviews[prevReview].style.display = "block";
            currentReview = prevReview;
        })
        setInterval(nextReview, 3000);
    </script>
</body>

</html>