<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBERALITY || Bishop Thomas Aremu</title>
    <link href="../style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <div class="bg-black p-0 h-full">
        <header class="flex justify-between items-center px-4 md:px-[50px] border-orange-500 border-b-2 border-solid">
            <div>
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] lg:w-[150px] lg:h-[100px]">
            </div>
            <div class="block lg:hidden">
                <button id="menu-toggle" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <nav id="menu" class="hidden lg:block">
                <ul class="flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-[50px]">
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="home.html">HOME</a>
                    </li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                            href="about.html">ABOUT</a></li>
                    <li><a class="text-orange-500 font-bold hover:underline hover:text-orange-500"
                            href="liberality.html">LIBERALITY</a>
                    </li>
                    <li><a class="text-white font-bold hover:underline hover:text-orange-500"
                            href="testimony.html">TESTIMONIES</a></li>
                </ul>
            </nav>
            <button class="hidden lg:block bg-orange-500 p-3 rounded-3xl hover:bg-white">
                <a class="font-bold capitalize text-black" href="booking.html">Book an
                    appointment</a>
            </button>

        </header>
        <!-- Mobile Sliding Menu -->
        <div id="mobile-menu"
            class="fixed top-0 right-0 w-[75%] h-full bg-black text-white transform translate-x-full transition-transform duration-300">
            <div class="flex justify-between items-center p-4">
                <button id="menu-close" class="text-white focus:outline-none text-[30px]">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <ul class="flex flex-col items-center gap-6 mt-10">
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="home.html">HOME</a></li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="about.html">ABOUT</a>
                </li>
                <li><a class="text-orange-500 font-bold hover:underline hover:text-orange-500"
                        href="liberality.html">LIBERALITY</a></li>
                <li><a class="text-white font-bold hover:underline hover:text-orange-500" href="testimony.html">TESTIMONIES</a>
                </li>
            </ul>
            <div class="mt-10 flex justify-center">
                <button class="bg-orange-500 p-3 rounded-3xl hover:bg-white">
                    <a class="font-bold capitalize text-black" href="booking.html">Book an
                        appointment</a>
                </button>
            </div>
        </div>
        <div
            class="flex justify-between items-center flex-col md:flex-row px-[50px] lg:px-[150px] py-[50px] border-orange-500 border-b-8 border-solid gap-[20px] lg:gap-0">
            <div>
                <h2 class="text-[24px] lg:text-[40px] text-white font-bold text-center">COVENANT<BR /> LIBERALITY &
                    CHARITY</h2>
                <p
                    class="text-white font-satisfy text-center text-[12px] lg:text-[16px] leading-[20px] lg:leading-[45px]">
                    And I will give you pastors according to mine heart,<br />
                    which shall feed you with knowledge and<br />
                    understanding.<br />Jer. 3 : 15</p>
            </div>
            <img src="../images/bta1.jpg" alt="" class="w-[300px] h-[300px] md:w-[350px] md:h-[350px] rounded-2xl">
        </div>
        <div
            class="md:px-[100px] px-[40px] py-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px] gap-[20px] border-orange-500 border-b-8 border-solid">
            <img src="../images/user.avif" alt="" class="md:w-[300px] md:h-[300px]">
            <div>
                <p class="text-orange-500 text-[30px] font-bold">ACADEMIC SPONSORSHIPS</p>
                <p class="text-white text-[18px] md:text-[24px] text-left">Education is a powerful tool for transformation, but for many, financial limitations stand in the
                    way of their dreams. Through Covenant Liberality, we take on the divine mandate to lift
                    others by providing academic sponsorships to deserving students.
                    Our commitment to education is rooted in the understanding that knowledge empowers
                    individuals to fulfill their God-given destinies. By investing in students, we are not just
                    funding their education, we are shaping the future, raising kingdom giants, and advancing
                    the work of God on earth.
                    As Proverbs 22:9 declares, "He that hath a bountiful eye shall be blessed; for he giveth of his
                    bread to the poor." Every seed sown into the life of a student yields a harvest of generational
                    impact.                    
                </p>
            </div>
        </div>
        <div
            class="md:px-[100px] px-[40px] py-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px] gap-[20px] border-orange-500 border-b-8 border-solid">
            <img src="../images/user.avif" alt="" class="md:w-[300px] md:h-[300px]">
            <div>
                <p class="text-orange-500 text-[30px] font-bold">WIDOWS OUTREACH</p>
                <p class="text-white text-[18px] md:text-[24px] text-left">Pure and undefiled religion before God is caring for those in need (James 1:27). At the heart
                    of Covenant Liberality is our commitment to uplifting widows, women who have suffered loss
                    yet remain pillars of strength in their families and communities.
                    Through our Widows Outreach, we extend the love of Christ by providing financial support,
                    empowerment programs, and spiritual encouragement. We believe that no widow should be
                    left without help, and as a church, we stand as a family to ensure they experience God’s
                    provision and care.
                    As Psalm 68:5 reminds us, “A father of the fatherless, and a judge of the widows, is God in
                    his holy habitation.” By giving to and supporting widows, we align with God's heart and
                    unlock the blessings of divine provision and favor.
                </p>
            </div>
        </div>
        <div
            class="md:px-[100px] px-[40px] py-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px] gap-[20px] border-orange-500 border-b-8 border-solid">
            <img src="../images/user.avif" alt="" class="md:w-[300px] md:h-[300px]">
            <div>
                <p class="text-orange-500 text-[30px] font-bold">ORPHANAGES</p>
                <p class="text-white text-[18px] md:text-[24px] text-left">God is a Father to the fatherless, and as His hands and feet on earth, we are called to care
                    for orphans and vulnerable children (Psalm 68:5). Through our orphanage outreach, we
                    extend love, provision, and support to children who have been left without parental care,
                    ensuring they experience the warmth of a family and the security of a future filled with hope.
                    Covenant Liberality enables us to meet their needs. Providing food, shelter, education, and
                    spiritual guidance. Beyond meeting physical needs, we introduce them to the love of Christ,
                    assuring them that they are not forgotten but deeply cherished by God and His people.
                </p>
            </div>
        </div>
        <div
            class="md:px-[100px] px-[40px] py-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px] gap-[20px] border-orange-500 border-b-8 border-solid">
            <img src="../images/user.avif" alt="" class="md:w-[300px] md:h-[300px]">
            <div>
                <p class="text-orange-500 text-[30px] font-bold">MOTHERLESS BABIES HOMES</p>
                <p class="text-white text-[18px] md:text-[24px] text-left">Every child deserves love, care, and a bright future. Sadly, many infants are left without the
                    nurturing embrace of a mother. Through Covenant Liberality, we extend God’s love to
                    motherless babies, ensuring they receive the care, support, and warmth they need to thrive.
                    Our outreach to motherless babies' homes provides essential supplies such as food,
                    clothing, medical care, and shelter. But beyond physical needs, we offer something even
                    greater hope. We stand as a family to these little ones, reminding them that they are not
                    forgotten, but deeply loved by God and His people.                    
                </p>
            </div>
        </div>
        <div
            class="md:px-[100px] px-[40px] py-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px] gap-[20px] border-orange-500 border-b-8 border-solid">
            <img src="../images/user.avif" alt="" class="md:w-[300px] md:h-[300px]">
            <div>
                <p class="text-orange-500 text-[30px] font-bold">ELDERLY HOMES</p>
                <p class="text-white text-[18px] md:text-[24px] text-left">The elderly are treasures of wisdom, experience, and faith. Vessels who have labored in
                    life’s journey and deserve honor, care, and dignity in their later years. Through Covenant
                    Liberality, we extend the love of Christ to the elderly in homes, ensuring they are not
                    forgotten but cherished and supported.
                    Our outreach provides essential supplies, medical care, companionship, and spiritual
                    encouragement. We recognize that loneliness and neglect are some of the greatest
                    challenges the elderly face, and through our acts of love, we restore joy, dignity, and a sense
                    of belonging to them.
                </p>
            </div>
        </div>
        <div
            class="md:px-[100px] px-[40px] py-[40px] flex justify-between items-center flex-col md:flex-row md:gap-[40px] gap-[20px] border-orange-500 border-b-8 border-solid">
            <img src="../images/user.avif" alt="" class="md:w-[300px] md:h-[300px]">
            <div>
                <p class="text-orange-500 text-[30px] font-bold">MEDICAL OUTREACHES</p>
                <p class="text-white text-[18px] md:text-[24px] text-left">Good health is a gift from God, and as stewards of His love, we are called to extend healing
                    and care to those in need. Through Covenant Liberality, our Medical Outreach provides
                    essential healthcare services to the less privileged, ensuring that no one is left to suffer due
                    to a lack of medical attention.
                    From free medical checkups and treatments to health education and support, we bring both
                    physical healing and the hope of Christ to individuals and communities. Just as Jesus went
                    about healing the sick (Matthew 4:24), we follow His example by ministering to the body,
                    soul, and spirit of those in need.
                </p>
            </div>
        </div>
        <div
            class="flex justify-between flex-col md:flex-row items-start gap-[10px] md:gap-[80px] px-[40px] md:px-[100px] py-[50px]">
            <div class="md:w-[200px] w-[300px]">
                <img src="../../IMG_9091-removebg-preview.png" alt=""
                    class="w-[100px] h-[80px] md:w-[150px] md:h-[100px]">
                <p class="text-white">Thomas Aremu is an anointed man of God sent to bring God’s word to our
                    generation.</p>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Quick Links</h2>
                <a class="text-white no-underline hover:underline mt-[20px]" href="index.html">Home</a>
                <a class="text-white no-underline hover:underline" href="about.html">About</a>
                <a class="text-white no-underline hover:underline" href="liberality.html">Liberality</a>
                <a class="text-white no-underline hover:underline" href="testimony.html">Testimonies</a>
                <a class="text-white no-underline hover:underline" href="gallery.html">Gallery</a>
                <a class="text-white no-underline hover:underline" href="booking.html">Bookings</a>
            </div>
            <div class="flex flex-col">
                <h2 class="text-orange-500 text-[24px] font-bold underline">Reach Us</h2>
                <p class="text-white mt-[20px]">Email: bishopthomasaremu@gmail.com</p>
                <p class="text-white">Phone: +234 (812) 234 5432</p>
            </div>
        </div>
        <div class="flex justify-center items-center text-orange-500 font-satisfy">All rights reserved ‘Thomas Aremu’ @
            2024</div>
    </div>


    <script>
        // Mobile menu elements
        const menuToggle = document.getElementById('menu-toggle');
        const menuClose = document.getElementById('menu-close');
        const mobileMenu = document.getElementById('mobile-menu');

        // Open mobile menu
        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.remove('translate-x-full');
        });

        // Close mobile menu
        menuClose.addEventListener('click', () => {
            mobileMenu.classList.add('translate-x-full');
        });
    </script>
</body>

</html>